<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/teacher/base.css">
        <link rel="icon" href="/static/icon.ico">
        {% block css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="header_left">
                <a href="/teacher">
                    <img src="/static/top.png" alt="TEKNE工作室">
                </a>
            </div>
            <div class="header_right">
                {%if teacher_login != true%}
                <a href="/teacher/login">ログイン</a>
                <a href="/teacher/registration">会員登録</a>
                {%else%}
                <a href="/teacher">{{teacher_id}}さん 管理者ページ</a>
                <a href="/logout">ログアウト</a>
                {%endif%}
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        {% block script %}
        {% endblock %}
    </body>
</html>