{% extends "base.html" %}
{% block title %}マイページ{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/mypage/edit.css">
{% endblock %}
{% block content %}
    <h1>プロフィール編集</h1><br>
    <label for="id">現在のID</label><br>
    <input type="text" id="old_id"><br><br>
    <label for="pwd">現在のパスワード</label><br>
    <input type="password" id="old_pwd"><br><br><br><br>
    <div id="tab">
        <button id="id_form_btn" class="active">IDの変更</button>
        <button id="pwd_form_btn">パスワードの変更</button>
    </div><br>
    <div id="id_form">
        <h2>IDの変更</h2>
        <label for="id">変更後のID</label><br>
        <input type="text" id="new_id"><br>
        <em>8文字以上の半角英数字、記号も可</em><br><br>
        <button type="button" id="id_edit_btn">変更</button><br><br>
    </div>
    <div id="pwd_form">
        <h2>パスワードの変更</h2>
        <label for="pwd">変更後のパスワード</label><br>
        <input type="password" id="new_pwd"><br>
        <em>8文字以上の半角英数字どちらむ含む、記号も可</em><br><br>
        <button type="button" id="pwd_edit_btn">変更</button><br><br>
    </div>
    <a href="/mypage">マイページへ戻る</a>
{% endblock %}
{% block script %}
    <script src="/static/mypage/edit.js"></script>
{% endblock %}