{% extends "base.html" %}
{% block title %}研究成果追加フォーム{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/addform.css">
{% endblock %}
{% block content %}
    <h1>研究成果追加フォーム</h1>
    <label for="name">名前</label><br>
    <input type="text" id="name" maxlength="50"><br><br>
    <label for="introduce">紹介文</label><br>
    <textarea id="introduce" maxlength="100"></textarea><br><br>
    <label for="pdf_file">研究成果ファイル</label><br>
    <input type="file" id="pdf_file" accept=".pdf"><br><br>
    <button type="button" id="add_btn">追加</button><br><br>
    <a href="/">ホームへ戻る</a>
{% endblock %}
{% block script %}
    <script src="/static/addform.js"></script>
{% endblock %}