{% extends "base.html" %}
{% block title %}ホーム{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block content %}
    <h1>研究成果データベース</h1>
    <h2>高校生の課題研究を検索、登録することができるデータベースです</h2><br>
    <a href="/addform">研究成果追加フォーム</a><br>
    <a href="/studylist">研究成果一覧</a><br>
    <a href="/reservation">TEKNE工作室予約</a><br>
    <a href="/equipment-reservation">実験器具の貸出予約</a><br><br>
    <h2>ニュース</h2>
    <h2>いずれここに書きたいよね</h2>
{% endblock %}
{% block script %}
{% endblock %}
