<!DOCTYPE html>
<html>
    <head>
        <title>
            ログインページ
        </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/base.css">
        <link rel="icon" href="/static/icon.ico">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <main>
            <img src="/static/top.png" alt="TEKNE工作室" id="login_logo"><br><br>
            <div id="tab">
                <button id="student_form_btn" class="active">生徒用</button>
                <button id="teacher_form_btn">先生用</button>
            </div><br>
            <div id="student_form">
                <h2>生徒用ログイン</h2>
                <label for="id">ID</label><br>
                <input type="text" id="student_id"><br>
                <label for="pwd">パスワード</label><br>
                <input type="password" id="student_pwd"><br>
                <button type="button" id="student_login_btn">生徒ログイン</button><br><br>
            </div>
            <div id="teacher_form">
                <h2>先生用ログイン</h2>
                <label for="id">ID</label><br>
                <input type="text" id="teacher_id"><br>
                <label for="pwd">パスワード</label><br>
                <input type="password" id="teacher_pwd"><br>
                <button type="button" id="teacher_login_btn">先生ログイン</button><br><br>
            </div>
            <a href="/registration">新規登録はこちら</a>
        </main>
        <script src="/static/login.js"></script>
    </body>
</html>