<!DOCTYPE html>
<html>
    <head>
        <title>研究成果一覧</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <form>
            <h1>研究成果一覧</h1>
            <table border="1">
                <tr>
                    <th>題名</th>
                    <th>要約</th>
                    <th>ダウンロード</th>
                </tr>
                {%for study in studies%}
                <tr>
                    <td>{{study[1]}}</td>
                    <td>{{study[2]}}</td>
                    <td><a href="/uploads/{{study[4]}}">{{study[3]}}</a></td>
                </tr>
                {% endfor %}
            </table><br>
            <a href="/home">ホームへ戻る</a>
        </form>
    </body>
</html>