{% extends "base.html" %}
{% block title %}会員登録ページ{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/registration.css">
{% endblock %}
{% block content %}
    <h1>会員登録</h1><br>
    <label for="id">ID</label><br>
    <input type="text" id="id"><br>
    <em>8文字以上の半角英数字、記号も可</em><br><br>
    <label for="pwd">パスワード</label><br>
    <input type="password" id="pwd"><br>
    <em>8文字以上の半角英数字どちらむ含む、記号も可</em><br><br>
    <label for="pwd">学校</label><br>
    <select id="school">
        <option value="notselect" selected disabled>学校を選択してください</option>
        {% for school in schools %}
        <option value="{{ school }}">{{ school }}</option>
        {% endfor %}
    </select><br><br>
    <button type="button" id="reg_btn">登録</button><br><br>
    <a href="/login">ログインページに戻る</a>
{% endblock %}
{% block script %}
    <script src="/static/registration.js"></script>
{% endblock %}